body{
    display: flex;
}

#customerTable {
    width: 60%; 
    border-collapse: collapse;
}

#customerTable th, #customerTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: left; 
}

#customerForm {
    display: flex;
    flex-direction: column;
}

form input, form select, form button {
    margin: 10px 0;
    width: 80%;
}