body{
    display: flex;
}

#menuTable {
    width: 30%; 
    border-collapse: collapse;
}

#menuTable th, #menuTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: left; 
}

#menuForm {
    display: flex;
    flex-direction: column;
}

form input, form select, form button {
    margin: 10px 0;
    width: 80%;
}