body{
    display: flex;
}

#promoTable {
    width: 50%; 
    border-collapse: collapse;
}

#promoTable th, #promoTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: left; 
}

#promoForm {
    display: flex;
    flex-direction: column;
}

form input, form select, form button {
    margin: 10px 0;
    width: 80%;
}